
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">
    <link href="../assets/sb-admin.css" rel="stylesheet">
    <title>E-SEA Solutions LTD</title>
</head>

<body>
    <header>

<style>
    #navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    #navbar li {
        float: left;
    }

    #navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #navbar li a:hover {
        background-color: #3eb0c4;
    }
</style>

<ul id="navbar">
    <li><a href="/">Home</a></li>
      <li><a href="/aboutme">About Me</a></li>
      <li><a href="/contact">Contact</a></li>
</ul>

    </header>
    <main>
   <div id="content" class="centerParagraph">
        <h1>Elif Deniz</h1>
        Over 10 years of software development experience mainly on Java. Worked on different domains on vendor or client side. Specialized on integration, middleware and web-service development using agile methodology from architecture to support. Energetic and tech-savvy engineer who is keen on self-development and innovation.
           Now seeking new opportunities to make a successful impact in an end user focused team in the UK for contract roles. Keen interest of coding with vision of next iterations and modular and generic style. Large view of understanding  requirements and needs. Effective in prioritizing tasks and anticipating the needs of user beforehand. Excellent communication skills, able to create a friendly working environment. Positive personality with a goal of continuous self-development.

         </div>
    </main>
</body>

</html>