
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">
       <link href="../assets/sb-admin.css" rel="stylesheet">
    <title>E-SEA Solutions LTD</title>
</head>

<body>
    <header>
<style>
    #navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    #navbar li {
        float: left;
    }

    #navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #navbar li a:hover {
        background-color: #3eb0c4;
    }
</style>

<ul id="navbar">
    <li><a href="/">Home</a></li>
      <li><a href="/aboutme">About Me</a></li>
      <li><a href="/contact">Contact</a></li>
</ul>

    </header>
    <main>
    <div id="content" class="centerParagraph">
<h3><td>Phone:</td><td>+447881440594</td> </h3>
<h3><td>E-mail:</td><td>ce.elif@gmail.com</td></h3>
<h3><a href="https://www.linkedin.com/in/elif-deniz-3a379732/ "> LinkedIn Profile</a>
</h3>
</div>
    </main>
</body>

</html>