Skip to content
Why GitHub?
Enterprise
Explore
Marketplace
Pricing
Search

Sign in
Sign up
ahmetbcakici
/
NodeJS_Tutorial
041
 Code Issues 0 Pull requests 1 Actions Projects 0 Security Insights
Join GitHub today
GitHub is home to over 40 million developers working together to host and review code, manage projects, and build software together.

NodeJS_Tutorial/14_Node&Frontend/views/partials/navbar.ejs
@ahmetbcakici ahmetbcakici nodeandhtml
48639a9 on 6 Oct 2019
31 lines (27 sloc)  605 Bytes

<style>
    #navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    #navbar li {
        float: left;
    }

    #navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #navbar li a:hover {
        background-color: #3eb0c4;
    }
</style>

<ul id="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/aboutme">About Me</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
